<div class="load-various" *ngIf="tProfile?.ischarged">
    <div>
        <div class="type-logo" [ngSwitch]="tProfile?.name">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Pok%C3%A9mon_Normal_Type_Icon.svg/512px-Pok%C3%A9mon_Normal_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchDefault>
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/512px-Pok%C3%A9mon_Water_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'water'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg/512px-Pok%C3%A9mon_Fire_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'fire'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Pok%C3%A9mon_Rock_Type_Icon.svg/512px-Pok%C3%A9mon_Rock_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'rock'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Pok%C3%A9mon_Ground_Type_Icon.svg/512px-Pok%C3%A9mon_Ground_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'ground'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg/512px-Pok%C3%A9mon_Grass_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'grass'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Pok%C3%A9mon_Bug_Type_Icon.svg/512px-Pok%C3%A9mon_Bug_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'bug'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Pok%C3%A9mon_Poison_Type_Icon.svg/512px-Pok%C3%A9mon_Poison_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'poison'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Pok%C3%A9mon_Ghost_Type_Icon.svg/512px-Pok%C3%A9mon_Ghost_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'ghost'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Pok%C3%A9mon_Steel_Type_Icon.svg/512px-Pok%C3%A9mon_Steel_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'steel'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Pok%C3%A9mon_Psychic_Type_Icon.svg/512px-Pok%C3%A9mon_Psychic_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;"
                *ngSwitchCase="'Psychic'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Pok%C3%A9mon_Dark_Type_Icon.svg/512px-Pok%C3%A9mon_Dark_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'dark'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Pok%C3%A9mon_Fighting_Type_Icon.svg/512px-Pok%C3%A9mon_Fighting_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;"
                *ngSwitchCase="'fighting'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Pok%C3%A9mon_Flying_Type_Icon.svg/512px-Pok%C3%A9mon_Flying_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'flying'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Pok%C3%A9mon_Dragon_Type_Icon.svg/512px-Pok%C3%A9mon_Dragon_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'dragon'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Pok%C3%A9mon_Ice_Type_Icon.svg/512px-Pok%C3%A9mon_Ice_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'ice'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg/512px-Pok%C3%A9mon_Fairy_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;" *ngSwitchCase="'fairy'">
            <img class="imgType" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Pok%C3%A9mon_Electric_Type_Icon.svg/512px-Pok%C3%A9mon_Electric_Type_Icon.svg.png" alt={{tProfile?.name}} width=15% height=15% style=" float: right; padding-bottom: 5%;"
                *ngSwitchCase="'electric'">
        </div>
        <h2 style=" color:antiquewhite; text-align: center;">{{"Type: "+tProfile?.name}}</h2>
        <h2 style=" color:antiquewhite;">All moves...</h2>
        <div class="moves-scroll">
            <div style=" color:antiquewhite;" *ngFor="let move of tProfile?.moves; let i = index">
                <h3>{{"Move "+(i+1)+": " }}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{move?.name}}</h2>
            </div>
        </div>
        <h2 style=" color:antiquewhite;">Relations...</h2>
        <div class="relations-scroll">
            <h1>Double Damage From...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.double_damage_from; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
            <h1>Double Damage To...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.double_damage_to; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
            <h1>Half Damage From...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.half_damage_from; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
            <h1>Half Damage To...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.half_damage_to; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
            <h1>No Damage From...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.no_damage_from; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
            <h1>No Damage To...</h1>
            <div style=" color:antiquewhite;" *ngFor="let relation of tProfile?.damage_relations?.no_damage_to; let i = index">
                <h3>{{"Type "+(i+1)+": "}}</h3>
                <h2 style=" color:antiquewhite; text-align: center;">{{relation?.name}}</h2>
            </div>
        </div>
        <h2 style=" color:antiquewhite;">All pokemons...</h2>
        <div class="tiny-cards-scroll">
            <div style=" color:antiquewhite;" *ngFor="let pokemon of tProfile?.pokemon; let i = index">
                <app-tinycards [pokemon]="pokemon"> </app-tinycards>
            </div>
        </div>
        <p class="message-for-slide">(Please click an arrow to enable)</p>
        <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade" *ngFor="let pokemon of tProfile?.pokemon; let i = index">
                <div class="numbertext">{{(i+1)+"/"+tProfile?.pokemon.length}}</div>

                <app-tinycards [pokemon]="pokemon"> </app-tinycards>
                <!-- <img src="../../../assets/img/sys/Goodstuff-No-Nonsense-Free-Space-Stars.ico" style="width:100%" alt=""> -->

            </div>

            <!-- Next and previous buttons -->
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>

        </div>
    </div>
</div>
