<!-- Footer -->
<h2 style="color:crimson; text-align: center;">References: </h2>
<div class="card-container">

    <a class="circle-link" title="Poke-Api" href="https://pokeapi.co/" target="_blank" rel="noopener"><img src="../../../assets/img/sys/pokeApi.svg" alt="" width=85% height=65%>
    </a>

    <a class="circle-link" title="Pokemon Official" href="https://www.pokemon.com/el/" target="_blank" rel="noopener"><img src="../../../assets/img/sys/pokemon.svg" alt="" width=85% height=85%>
    </a>

    <a class="circle-link" title="Yes-Admin" href="https://yes-admin.com/" target="_blank" rel="noopener"><img src="../../../assets/img/sys/minilogo.svg" alt="" width=85% height=65%>
    </a>

    <a class="circle-link" title="Developer" href="https://github.com/JesuZC" target="_blank" rel="noopener"><img src="../../../assets/img/sys/github.svg" alt="" width=100% height=100%>

    </a>

    <a class="circle-link" title="Repository" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener"><img src="../../../assets/img/sys/repo.svg" alt="" width=80% height=85%>
    </a>

    <a class="circle-link" title="Framework" href="https://angular.io/" target="_blank" rel="noopener"><img src="../../../assets/img/sys/angular.svg" alt="" width=80% height=80%>
    </a>
</div>
<footer>
    <div>
        <h2 style="color: dodgerblue; text-align: center;"> This app is only made for academy purpouses!!</h2>
        <p style="color: rgb(245, 49, 91); text-align: center;"> All rights reserved to their propertiers...</p>
    </div>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener" title="Go to Angular Repository">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
</footer>