<!-- Footer -->
<h2 style="color:crimson; text-align: center;">References: </h2>
<div class="card-container">

    <a class="circle-link" title="Poke-Api" href="https://pokeapi.co/" target="_blank" rel="noopener">
        <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="" width=85% height=65%>
    </a>

    <a class="circle-link" title="Pokemon Official" href="https://www.pokemon.com/el/" target="_blank" rel="noopener">
        <img src="https://img.icons8.com/color/452/pikachu-pokemon.png" alt="" width=85% height=85%>
    </a>

    <a class="circle-link" title="Yes-Admin" href="https://yes-admin.com/" target="_blank" rel="noopener">
        <img src="https://yes-admin.com/assets/onepage/logo/minilogo.png" alt="" width=85% height=65%>
    </a>

    <a class="circle-link" title="Developer" href="https://github.com/JesuZC" target="_blank" rel="noopener">
        <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="" width=80% height=80%>

    </a>

    <a class="circle-link" title="Repository" href="https://github.com/JesuZC/poke" target="_blank" rel="noopener">
        <img src="https://www.iconarchive.com/download/i104876/papirus-team/papirus-places/folder-blue-git.ico" alt="" width=90% height=90%>
    </a>

    <a class="circle-link" title="Framework" href="https://angular.io/" target="_blank" rel="noopener">
        <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/21_Angular-512.png" alt="" width=80% height=80%>
    </a>
</div>
<footer>
    <div>
        <h2 style="color: dodgerblue; text-align: center;"> This app is only made for academy purpouses!!</h2>
        <p style="color: rgb(245, 49, 91); text-align: center;"> All rights reserved to their propertiers...</p>
    </div>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener" title="Go to Angular Repository">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
</footer>
