.error-container {
    position: relative;
}

.error-img {
    position: absolute;
    height: 80%;
    width: 80%;
}

.error-message {
    h1 {
        color: blueviolet;
        text-align: center;
    }
    p {
        color: rgb(40, 4, 54);
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .error-container {
        position: inherit;
    }
    .error-img {
        position: relative;
        height: 10%;
        width: 10%;
    }
}
