.error-container {
    position: relative;
}

.error-img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.error-message {
    h1 {
        color: blueviolet;
        text-align: center;
    }
    p {
        color: rgb(40, 4, 54);
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .error-container {
        position: inherit;
    }
    .error-img {
        margin-left: 8%;
        position: relative;
        height: 90%;
        width: 90%;
    }
}
