.error-img {
    margin-left: 5%;
    height: 80%;
    width: 80%;
}

.error-message {
    h1 {
        color: blueviolet;
    }
    p {
        color: rgb(40, 4, 54);
        text-align: center;
    }
}
